<body >
<div>
<h3>OUR STORY</h3>
</div>

<p>Marlabs is a Digital Technology Solutions company that helps companies adopt digital transformation using a comprehensive Digital360 framework comprising of Digital Product Engineering, Digital Automation, AI and Cognitive Platforms, Enterprise Analytics, Cloud, Digital Security and Digital User Experience; delivering a next-generation Digital Customer Experience.

Marlabs’ digital life-cycle model delivers rapid innovation using prototyping, co-creation, concept-to-completion and rapid deployment. Marlabs’ innovation labs, “marlabs.next” incubates cutting-edge technologies like Intent-Intelligence, IoT, IoP, Blockchain and Hyper-Personalization.</p><p>

Headquartered in New Jersey, United States, with 2,300 employees, Marlabs provides digital technology solutions to clients across different industry verticals, which include Healthcare and Life Sciences, Banking, Financial Services, Insurance, Airlines, Energy and Utilities, Education and Media, Retail, Manufacturing and Government.</p>
<form action="action_page.php">
    <div class="container">
      <h2>Subscribe to our Newsletter</h2>
      <p>hotelbooking.com......!!</p>
    </div>
  
    <div class="container" style="background-color:white">
      <input type="text" placeholder="Name" name="name" required>
      <input type="text" placeholder="Email address" name="mail" required>
      <label>
        <input type="checkbox" checked="checked" name="subscribe"> Daily Newsletter
      </label>
    </div>
  
    <div class="container">
      <input type="submit" value="Subscribe">
    </div>
  </form>
</body>