.bg {
    float: center;
   /* <!--color: #52aa94;-->
    text-align: center;*/
    padding: 20px 8px;
    text-decoration: none;
   background-color: rgb(96, 167, 128);
    font-size: 15px;
}